<html>
  <head></head>
  <body>
    <p>
      Guess a number between 0 and 100, please!
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= guess_method %>
    </p>
  </body>
</html>
